/*styling COMMONS*/
.root {
    -fx-background-color: #FFB703;
}
.label {
    -fx-font-size: 17px;
     -fx-text-fill: #121619;
     -fx-font-weight: bold;
     /*-fx-font-size: 20px;*/
 }

/*stlying the INDEX PAGE*/

#kpsLabel{
    -fx-font-size: 37px;
}
#policeLabel{
    -fx-font-size: 20px;
}

/*styling the LOGIN PAGE*/

#welcome_back{
    -fx-font-size: 25px;
}
#username, #password{
    -fx-font-size: 20px;
}

/*styling the REGISTER PAGE*/
#welcome_new,#prompt_1{
    -fx-font-size: 20px;
}


/*styling DASHBOARD*/

#lbl_motto,#fld_search{
    -fx-border-color: #121619;
    -fx-border-radius: 20px;
}
#title{
    -fx-text-fill: #FFB703;
}
#navigation{
    -fx-background-color: #224092;
}
#fld_search{
    -fx-background-color: transparent;
}

/*styling buttons*/
#btn_register, #btn_login, #btn_exit, #btn_forgortPassword, #btn_back, #btn_logout, #btn_home {
    -fx-background-color: #121619;
    -fx-text-fill: #FFB703;
    -fx-border-radius: 20px;
    -fx-font-weight: bolder;
}
#btn_home{
    -fx-font-size: 20px;
    -fx-border-radius: 20px;
}
#btn_crimeReport, #btn_weapons,#btn_statistics {
    -fx-background-color: #224092;
    -fx-border-color: #A56AD7;
    -fx-border-radius: 20px;
    -fx-font-weight: bolder;
}
