.root{
    -fx-background-color: #FFB703;
}
.label{
    -fx-text-fill: #121619;
    -fx-font-weight: bold;
}
#btn_login, #btn_register{
    -fx-background-color: #121619;
    -fx-text-fill: #FFB703;
}
#btn_login:hover, #btn_register:hover{
    -fx-cursor: hover;
}