/*styling COMMONS*/
.root {
    -fx-background-color: #FFB703;
}
.label {
    -fx-font-size: 17px;
     -fx-text-fill: #121619;
     -fx-font-weight: bold;
     /*-fx-font-size: 20px;*/
 }

/*styling the INDEX PAGE*/

#kpsLabel{
    -fx-font-size: 37px;
}
#policeLabel{
    -fx-font-size: 20px;
}

/*styling the LOGIN PAGE*/

#welcome_back{
    -fx-font-size: 25px;
}
#username, #password{
    -fx-font-size: 20px;
}

/*styling the REGISTER PAGE*/
#welcome_new,#prompt_1{
    -fx-font-size: 20px;
}


/*styling DASHBOARD*/

#lbl_motto{
    -fx-border-color: #121619;
    -fx-border-radius: 20px;
    -fx-text-alignment: center;
    -fx-font-size: 24px;
}

#navigation_title{
    -fx-text-fill: #FFB703;
}
#navigation{
    -fx-background-color: #224092;
}
#fld_search{
    -fx-background-color: transparent;
}

/*styling filing forms and report generation*/
#lbl_filling{
    -fx-text-alignment: center;
    -fx-font-size: 25px;
}
#fld_ob_number{
    -fx-background-color: transparent;
    -fx-border-radius: 20px;
    -fx-text-alignment: center;
    -fx-border-color: #121619;

}
/*styling buttons*/
#btn_register, #btn_login, #btn_exit, #btn_forgortPassword, #btn_back, #btn_logout, #btn_home, #btn_filing_forms {
    -fx-background-color: #121619;
    -fx-text-fill: #FFB703;
    -fx-border-radius: 20px;
    -fx-font-weight: bolder;
}
#btn_dashboard{
    -fx-font-size: 15px;
    -fx-border-radius: 20px;
    -fx-background-color: #121619;
    -fx-text-fill: #FFB703;
    -fx-font-weight: bolder;
}
#btn_forms, #btn_reports {
    -fx-background-color: #224092;
    -fx-border-color: #A56AD7;
    -fx-border-radius: 20px;
    -fx-font-weight: bolder;
    -fx-text-fill: white;
}